:root {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 400;
}
body {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0;
    grid-template-rows: 7fr 1fr;
    grid-template-columns: 1fr;
}

#pane-chooser {
    background-color: white;
    display: flex;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.8);
    justify-content: space-around;
    grid-row: 2 3;
    align-items: center;
}

#pane-chooser .choice input[type=radio] {
    display: none;
}

#pane-chooser .choice input[type=radio] {
    display: none;
}

#pane-chooser .choice input[type=radio]:checked + label {
    color: white;
    border-color: blue;
}

#pane-chooser .choice label {
    padding: 15px;
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

#pane-container .pane {
    display: flex;
    bottom: 50px;
}

#pane-container .pane.hidden {
    display: none;
}
